---
import { Image } from "astro:assets";
import voiceFlowLogo from "../assets/sponsor_logos/voiceflow.png";
---
<div class="container text-[#2D9AEA] flex flex-col items-center">
    <h1 class="w-full flex items-center justify-center font-bold text-5xl mb-10">
        <span class=" text-white">MEET OUR&nbsp;</span>
        SPONSORS
    </h1>

    <!-- Grid container -->
    <div class="w-full flex flex-col gap-y-5">
        <div class="grid grid-cols-2 gap-x-5">
            <!-- Row 1 (2 items) -->
            <div>
                <Image src={voiceFlowLogo} alt="Voiceflow"/>
            </div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
        </div>
        <div class="grid grid-cols-4 gap-x-5">
            <!-- Row 2 (4 items) -->
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
        </div>
        <div class="grid grid-cols-5 gap-x-5">
            <!-- Row 3 (5 items) -->
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
        </div>
        <div class="grid grid-cols-5 gap-x-5">
            <!-- Row 4 (5 items) -->
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
            <div><Image src={voiceFlowLogo} alt="Voiceflow"/></div>
        </div>
    </div>
</div>
